<div id="answer_<%= answer.id %>" class="row">
  <div class="col-md-1">
    <%= form_for (@best_answer) do |f| %>
      <%= f.hidden_field :question_id, :value => @question.id %>
      <%= f.hidden_field :answer_id, :value => answer.id %>
      <%= f.submit(:class => "btn btn-primary btn-xs", value: "Best") %>
    <% end %>
  </div>
  <div class="col-md-8">
    <p>
      <%= answer.answer %>, <%= answer.created_at.strftime("%A %b %d, %Y %l:%M %p") %>
      Votes: <%= answer.votes.count %>
      <% if current_user == @question.user %>
        <%= link_to "(remove)", question_answer_path(@question, answer), method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
      <% end %>
    </p>
  </div>
</div>
